

<Style>
   

  article{
float:left;
    width:60%
  }

  .carousel{
     margin-left:60%   
  }

   .titremajeur{
    display: block;
   text-align:center ;
   font-family: Poppins, sans-serif;
  }

  

    /* 
fin modif pour la banniere avec les liens */

    /* Carousel */
    .slider-container img {
        max-width: 50%;
    }

  

    .slider-container {
        max-width: 500px;
        position: relative;
        margin: auto;
        height: 350px;
        overflow: hidden;
    }

    .menu {
        position: absolute;
        left: 0;
        z-index: 11;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .menu label {
        cursor: pointer;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50px;
        margin: 0 0.2em 1em;
    }

    .menu label:hover,
    .menu label:focus {
        background: #1c87c9;
    }

    .slide-input {
        opacity: 0;
    }

    .slide-img {
        width: 50%;
        height: 300px;
        position: absolute;
        top: 0%;
        left: 100%;

        z-index: 10;
        transition: left 0s 0.75s;
    }

    [id^="slide"]:checked+.slide-img {
        left: 25%;
        z-index: 100;
        transition: left 0.65s ease-out;
    }

    /* fin carousel */

   
</Style>


<html>

<body>
    


    <!-- Ici nous mettons le contenu de la page -->
    <main>

<div class="titremajeur">
    <h1>Créer et agrandisser votre collection</h1> 
</div>

        
        <!-- Il contient un article -->
        <article>
            <h2>A propos de nous</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
                Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
                diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
                consectetur.</p>
        </article>

        <!-- carousel -->
        <div class="carousel">
            <div class="slider-container">
                <div class="menu">
                    <label for="slide-dot-1"></label>
                    <label for="slide-dot-2"></label>
                    <label for="slide-dot-3"></label>
                    <label for="slide-dot-4"></label>
                    <label for="slide-dot-5"></label>
                    <label for="slide-dot-6"></label>

                </div>

                <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
                <img class="slide-img" src="../assets/img/alakazam.png">

                <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
                <img class="slide-img" src="../assets/img/Verdict de Tuquerelle.jpg">

                <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
                <img class="slide-img" src="../assets/img/Tortank.png">

                <input class="slide-input" id="slide-dot-4" type="radio" name="slides">
                <img class="slide-img" src="../assets/img/Tariel, héliaste d'âmes.jpg">

                <input class="slide-input" id="slide-dot-5" type="radio" name="slides">
                <img class="slide-img" src="../assets/img/melofée.png">

                <input class="slide-input" id="slide-dot-6" type="radio" name="slides">
                <img class="slide-img" src="../assets/img/Singularité explosive.jpg">

            </div>
            <!-- carousel -->


<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
    </div>
<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</div>

<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</div>

<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</div>

<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</div>

<div>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
    </div>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

<article>
    <h2>A propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et
        diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur.</p>
</article>

        </div>
    </main>


</body>

</html>