

<div class="card mt-3" *ngIf="formCompte">
    <div class="card-header bg-primary text-white display-6">Creation d'un compte</div>
    <div class="card-body">
        <div class="form-group">
            <label for="pseudo">Pseudo:</label> <input type="text" class="form-control" id="pseudo" name="pseudo" [(ngModel)]="formCompte.pseudo" />
        </div>
        <div class="form-group">
            <label for="password">Mot de Passe:</label> <input type="password" class="form-control" id="password" name="password" [(ngModel)]="formCompte.password" />
        </div>
        <div class="form-group">
            <label for="mail">E-mail:</label> <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="formCompte.mail" />
        </div>
       

    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>
