
<style>
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;
}

img{
    height: 300px;
    width: 250px;
}

</style>


<div class="card mt-3">
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
    <div class="card mt-3" *ngIf="formExemplaire">
        <div class="card-header bg-secondary text-white display-6 ">Edition d'un exemplaire</div>
        <div class="card-body">
            <div class="form-group">
                <label for="carte">Carte:</label> 
                <select [(ngModel)]="valueCarte.id">
                    <option selected="true" disabled="disabled">Sélectionnez une carte</option> 
                    <option *ngFor="let f of listCartes()" [value]="f.id">{{f.libelle}}</option>  
                </select><br>
                <label>Etat:</label><input type="text" class="form-control" id="etat" name="etat" [(ngModel)]="formExemplaire.etat" placeholder="Abimee/BonEtat/Neuf" required/>
            </div> 
    
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
                <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="card-header bg-secondary text-white display-5">Liste des exemplaires</div>
    <div class="card-body">
        <table class="table table-striped" align="center">
            <thead>
                <tr align="center">
                    <th>Libelle</th>
                    <th> Description</th>
                    <th>Etat</th>
                    <th>Carte</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let p of listExemplaires()">
                    <td align="center">{{p.carte.libelle}}</td>
                    <td align="center">{{p.carte.description}}</td>
                    <td align="center">{{p.etat}}</td>
                    <td align="center"><img [src]="p.carte.imgPath" alt="titre" /></td>
                    <td align="center">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(p.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="delete(p.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr> 
            </tbody>

        </table>
    </div>
</div>





